<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.ghct.crm.mapper.KlassMapper">
    <select id="listKlassByCourseId" resultMap="klassResultMap">
           select *
           from klass
           where course_id=#{courseId}
           order by grade,klass_serial
    </select>

    <select id="getKlassByKlassId" resultMap="klassResultMap">
        select *
        from klass
        where id=#{klassId}
    </select>

    <insert id="creatKlass" parameterType="xmu.ghct.crm.entity.Klass">
        insert into klass(
                          course_id,
                          grade,
                          klass_serial,
                          klass_time,
                          klass_location
        )
        values(
               #{courseId},
               #{grade},
               #{klassSerial},
               #{klassTime},
               #{klassLocation}

              )
    </insert>

    <delete id="deleteKlassByCourseId">
        delete from klass where course_id=#{courseId}
    </delete>

    <delete id="deleteKlassByKlassId" parameterType="java.math.BigInteger">
        delete from klass where id=#{klassId}
    </delete>

    <select id="listKlassIdBySeminarId" resultType="java.math.BigInteger">
        select klass_id from klass_seminar
        where seminar_id=#{seminarId}
    </select>

    <select id="listStatusByKlassId" resultType="java.math.BigInteger">
        select status
        from klass_seminar
        where klass_id=#{klassId}
    </select>

    <select id="getKlassSerialByKlassId" resultType="java.lang.Integer">
        select klass_serial
        from klass
        where id=#{klassId}
    </select>

    <delete id="deleteKlassRoundByKlassId">
         delete from klass_round
         where klass_id=#{klassId}

    </delete>

    <delete id="deleteKlassStudentByKlassId">
        delete from klass_student
        where klass_id=#{klassId}
    </delete>

    <delete id="deleteKlassSeminarByKlassId">
        delete from klass_seminar
        where klass_id=#{klassId}
    </delete>

    <delete id="deleteTeamWithKlass">
        delete from klass_team
        where klass_id=#{klassId}
    </delete>

    <select id="getKlassByCourseIdAndKlassSerial" resultMap="klassResultMap">
        select *
        from klass
        where course_id=#{courseId} and klass_serial=#{klassSerial}
    </select>

    <select id="getKlassIdByCourseIdAndStudentId" resultType="java.math.BigInteger">
        select klass_id
        from klass_student
        where course_id=#{courseId} and student_id=#{studentId}
    </select>
    
    <select id="getStudentNumber" resultType="java.lang.Integer">
        select sum(klass_id=#{klassId}) from klass_student
    </select>

    <resultMap id="klassResultMap" type="xmu.ghct.crm.entity.Klass">
        <id property="klassId" column="id"/>
        <result property="courseId" column="course_id"/>
        <result property="klassSerial" column="klass_serial"/>
        <result property="grade" column="grade"/>
        <result property="klassTime" column="klass_time"/>
        <result property="klassLocation" column="klass_location"/>

    </resultMap>

</mapper>