<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.ghct.crm.mapper.QuestionMapper">

    <select id="getAllQuestion" resultMap="SelectResult">
        select a.id,a.score,a.team_id,b.team_name
        from question a, team b
        where klass_seminar_id=#{klassSeminarId} and b.id=a.team_id
    </select>

    <resultMap id="SelectResult" type="xmu.ghct.crm.VO.QuestionVO">
        <id property="klassSeminarId" column="klass_seminar_id"/>
        <result property="klassId" column="klass_id"/>
        <result property="questionId" column="id"/>
        <result property="seminarId" column="seminar_id"/>
        <result property="teamId" column="team_id"/>
        <result property="studentId" column="student_id"/>
        <result property="teamName" column="team_name"/>
        <result property="questionScore" column="score"/>
    </resultMap>

    <select id="getTeamIdByStudentId" resultType="java.math.BigInteger">
        select team_id
        from klass_student
        where student_id=#{studentId} and klass_id=#{klassId}
    </select>

    <select id="getKlassSeminarId" resultType="java.math.BigInteger">
        select id
        from klass_seminar
        where klass_id=#{klassId} and seminar_id=#{seminarId}
    </select>

    <insert id="postQuestion"  parameterType="xmu.ghct.crm.entity.Question">
        insert into question (
            student_id,
            team_id,
            klass_seminar_id
        )
        values (
                #{studentId},
                #{teamId},
                #{klassSeminarId}
               )
    </insert>

    <update id="updateQuestionScoreByQuestionId">
        update question
        set score=#{questionScore}
        where id=#{questionId}
    </update>

    <select id="listQuestionByKlassSeminarIdAndAttendanceId" resultMap="questionResultMap">
        select *
        from question
        where klass_seminar_id=#{klassSeminarId} and attendance_id=#{attendanceId}
    </select>

    <resultMap id="QuestionResult" type="xmu.ghct.crm.VO.QuestionVO">
        <id property="klassSeminarId" column="id"/>
        <result property="klassId" column="klass_id"/>
        <result property="seminarId" column="seminar_id"/>
        <result property="teamId" column="team_id"/>
        <result property="studentId" column="student_id"/>
        <result property="teamName" column="team_name"/>
        <result property="questionScore" column="score"/>
    </resultMap>


    <resultMap id="questionResultMap" type="xmu.ghct.crm.entity.Question">
        <id property="questionId" column="id"/>
        <result property="klassSeminarId" column="klass_seminar_id"/>
        <result property="attendanceId" column="attendance_id"/>
        <result property="teamId" column="team_id"/>
        <result property="studentId" column="student_id"/>
        <result property="selected" column="selected"/>
        <result property="questionScore" column="question_score"/>
    </resultMap>

</mapper>