<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.ghct.crm.mapper.QuestionMapper">

    <select id="listQuestionByKlassSeminarIdAndAttendanceId" resultMap="QuestionResult">
        select *
        from question
        where klass_seminar_id=#{klassSeminarId} and attendance_id=#{attendanceId}
    </select>

    <select id="getQuestionByQuestionId" resultMap="QuestionResult">
        select *
        from question
        where id=#{questionId}
    </select>

    <insert id="postQuestion"  parameterType="xmu.ghct.crm.entity.Question">
        insert into question (
                klass_seminar_id,
                attendance_id,
                team_id,
                student_id,
                is_selected,
                score
                              )
        values (
                #{klassSeminarId},
                #{attendanceId},
                #{teamId},
                #{studentId},
                #{selected},
                #{questionScore}
               )
    </insert>

    <update id="updateQuestionScoreByQuestionId">
        update question
        set score=#{questionScore}
        where id=#{questionId}
    </update>

    <resultMap id="QuestionResult" type="xmu.ghct.crm.entity.Question">
        <id property="questionId" column="id"/>
        <result property="klassSeminarId" column="klass_seminar_id"/>
        <result property="attendanceId" column="attendance_id"/>
        <result property="teamId" column="team_id"/>
        <result property="studentId" column="student_id"/>
        <result property="selected" column="is_selected"/>
        <result property="questionScore" column="score"/>
    </resultMap>

    <select id="getKlassIdByKlassSeminarId" resultType="java.math.BigInteger">
        select klass_id
        from klass_seminar
        where id=#{klassSeminarId}
    </select>

    <select id="getSeminarIdByKlassSeminarId" resultType="java.math.BigInteger">
        select seminar_id
        from klass_seminar
        where id=#{klassSeminarId}
    </select>

    <select id="getTeamIdByQuestionId" resultType="java.math.BigInteger">
        select team_id
        from question
        where id=#{questionId}
    </select>


    <select id="getKlassSerialByKlassId" resultType="java.lang.Integer">
        select klass_serial
        from klass
        where id=#{klassId}
    </select>

    <select id="getTeamSerialByTeamId" resultType="java.lang.Integer">
        select team_serial
        from team
        where id=#{teamId}
    </select>

    <select id="getStudentNameByStudentId" resultType="java.lang.String">
        select student_name
        from student
        where id=#{studentId}
    </select>


    <update id="updateQuestionSelected">
        update question
        set is_selected = 1
        where id=#{questionId}
    </update>

    <select id="getSeminarScoreByKlassSeminarIdAndTeamId" resultMap="SeminarScoreResult">
        select *
        from seminar_score
        where klass_seminar_id=#{klassSeminarId} and team_id=#{teamId}
    </select>

    <update id="updateSeminarScore">
        update seminar_score
        set question_score=#{questionScore}
        where klass_seminar_id=#{klassSeminarId} and team_id=#{teamId}
    </update>

    <update id="updateSeminarScoreEnd">
        update seminar_score
        set total_score=#{totalScore}
        where klass_seminar_id=#{klassSeminarId} and team_id=#{teamId}
    </update>

    <resultMap id="SeminarScoreResult" type="xmu.ghct.crm.entity.Score">
        <id property="klassSeminarId" column="klass_seminar_id"/>
        <result property="teamId" column="team_id"/>
        <result property="presentationScore" column="presentation_score"/>
        <result property="questionScore" column="question_score"/>
        <result property="reportScore" column="report_score"/>
        <result property="totalScore" column="total_score"/>
    </resultMap>

    <select id="getRoundIdBySeminarId" resultType="java.math.BigInteger">
        select round_id
        from seminar
        where id=#{seminarId}
    </select>


    <update id="updateRoundScoreEnd">
        update round_score
        set total_score=#{totalScore1},presentation_score=#{presentationScore1}
            ,question_score=#{questionScore1},report_score=#{reportScore1}
        where round_id=#{roundId} and team_id=#{teamId}
    </update>

    <resultMap id="RoundScoreResult" type="xmu.ghct.crm.entity.Score">
        <id property="klassSeminarId" column="round_id"/>
        <result property="teamId" column="team_id"/>
        <result property="presentationScore" column="presentation_id"/>
        <result property="questionScore" column="question_score"/>
        <result property="reportScore" column="report_score"/>
        <result property="totalScore" column="total_score"/>
    </resultMap>

    <select id="countQuestionNumber" resultType="java.lang.Integer">
        select count(*)
        from question
        where klass_seminar_id=#{klassSeminarId} and attendance_id=#{attendanceId} and is_selected=1
    </select>

    <select id="getTeamIdByStudentId" resultType="java.math.BigInteger">
        select team_id
        from team_student
        where student_id=#{studentId}
    </select>

</mapper>