<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.ghct.crm.mapper.StudentMapper">

    <insert id="insertStudent" parameterType="xmu.ghct.crm.entity.User" keyProperty="id" useGeneratedKeys="true">
        insert ignore into student(
                            account,
                            password,
                            is_active,
                            student_name
        ) values (
                  #{account},
                  "123456",
                  0,
                  #{name}
                         )
    </insert>

    <select id="getStudentByAccount" resultMap="StudentUserResult">
        select id,account,password,student_name,email,is_active
        from student
        where account=#{account}
    </select>

    <select id="getStudentByStudentId" resultMap="StudentUserResult">
        select id,account,password,student_name,email,is_active
        from student
        where id=#{studentId}
    </select>

    <select id="getStudentIdByStudentIdAndKlassId" resultType="java.math.BigInteger">
        select student_id
        from klass_student
        where student_id=#{studentId} and klass_id=#{klassId}
    </select>



    <resultMap id="StudentUserResult" type="xmu.ghct.crm.entity.User">
        <id property="id" column="id"/>
        <result property="account" column="account"/>
        <result property="password" column="password"/>
        <result property="name" column="student_name"/>
        <result property="email" column="email"/>
        <result property="active" column="is_active"/>
    </resultMap>

    <update id="setStudentPasswordById">
        update student
        set password = #{password}
        where id=#{id}
    </update>

    <update id="setStudentEmailById">
        update student
        set email = #{email}
        where id=#{id}
    </update>

    <update id="setStudentActiveById">
        update student
        set is_active = 1
        where id=#{id}
    </update>


    <select id="getAllStudent" resultMap="StudentUserResult">
        select id,account,student_name,email
        from student
    </select>

    <select id="getStudentByStudentName" resultMap="StudentUserResult">
        select id,account,student_name,email
        from student
        where student_name=#{name}
    </select>

    <update id="modifyStudentByStudentId">
        update student
        set student_name=#{name},
            account=#{account},
            email=#{email}
        where id=#{id}
    </update>

    <update id="resetStudentPasswordByStudentId">
        update student
        set password="123456"
        where id=#{id}
    </update>

    <delete id="deleteStudentByStudentId">
        delete from student
        where id=#{id}
    </delete>

    <!--cyq-->
    <select id="getAllStudentIdByCourseId" resultType="java.math.BigInteger">
        select student_id from klass_student where course_id=#{courseId}
    </select>

    <insert id="insertKlassStudent" parameterType="java.math.BigInteger">
        insert into klass_student(
                                  klass_id,
                                  student_id,
                                  course_id
        ) values(
                 #{klassId},
                 #{studentId},
                 #{courseId}
                        )
    </insert>
</mapper>