<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.ghct.crm.mapper.TeamMapper">

    <select id="listTeamInfoByCourseId" resultMap="teamMap">
        select *
        from team
        where course_id=#{courseId} order by klass_serial,team_serial
    </select>

    <select id="getStudentIdByTeamId" resultType="java.math.BigInteger">
        select student_id
        from team_student
        where team_id=#{teamId}
    </select>

    <!--hzm-->
    <select id="getTeamInfoByTeamId" parameterType="java.math.BigInteger" resultMap="teamMap">
        select * from team where id=#{teamId}
    </select>

    <!--hzm-->
    <select id="getCourseIdByTeamId" resultType="java.math.BigInteger">
        select course_id from team where id=#{teamId}
    </select>

    <select id="listTeamIdByStudentId" resultType="java.math.BigInteger">
        select team_id
        from team_student
        where student_id=#{studentId}
    </select>

     <!--hzm-->
    <select id="getKlassIdByTeamId" resultType="java.math.BigInteger">
        select klass_id
        from team
        where id=#{teamId}
    </select>

    <select id="getMaxTeamSerialOfTeam" resultType="java.lang.Integer">
        select max(team_serial)
        from team
        where klass_id=#{klassId}
    </select>

    <select id="listKlassIdByTeamId" resultType="java.math.BigInteger">
        select klass_id
        from klass_team
        where team_id=#{teamId}
    </select>

    <update id="updateStatusByTeamId" >
        update team
        set status=#{status}
        where id=#{teamId}
    </update>

    <!--hzm-->
    <insert id="insertTeam" parameterType="xmu.ghct.crm.entity.Team" keyProperty="teamId" useGeneratedKeys="true">
         insert into team(
                          klass_id,
                          course_id,
                          leader_id,
                          team_name,
                          team_serial,
                          klass_serial,
                          status
         ) values(
                  #{klassId},
                  #{courseId},
                  #{leaderId},
                  #{teamName},
                  #{teamSerial},
                  #{klassSerial},
                  #{status}
                          )
    </insert>

    <insert id="insertKlassTeam" >
        insert into klass_team(
                               klass_id,
                               team_id
        ) values (
                  #{klassId},
                  #{teamId}
                         )
    </insert>

    <insert id="insertTeamStudent" >
        insert into team_student(
                                 team_id,
                                 student_id
        ) values (
                  #{teamId},
                  #{studentId}
                         )
    </insert>

    <insert id="insertKlassStudent">
        insert into klass_student(
                                  klass_id,
                                  student_id,
                                  course_id
        ) values (
                  #{klassId},
                  #{studentId},
                  #{courseId}
                         )
    </insert>

    <!--cyq-->
    <select id="listTeamIdByKlassId" resultType="java.math.BigInteger">
        select team_id
        from klass_team
        where klass_id=#{klassId} order by team_id
    </select>

    <select id="listTeamIdByCourseId" resultType="java.math.BigInteger">
        select team_id
        from klass_student
        where course_id=#{courseId} order by team_id
    </select>

    <select id="getTeamSerialByTeamId" resultType="java.lang.Integer">
        select team_serial
        from team
        where id=#{teamId}
    </select>

    <delete id="deleteTeamByTeamId">
        delete from team where id=#{teamId}
    </delete>

    <resultMap id="shareTeamMap" type="xmu.ghct.crm.vo.ShareTeamVO">
        <result property="mainCourseId" column="main_course_id"/>
        <result property="subCourseId" column="sub_course_id"/>
        <result property="subCourseTeacherId" column="sub_course_teacher_id"/>
        <result property="status" column="status"/>
    </resultMap>

    <resultMap id="teamMap" type="xmu.ghct.crm.entity.Team">
        <id property="teamId" column="id"/>
        <result property="klassId" column="klass_id"/>
        <result property="courseId" column="course_id"/>
        <result property="leaderId" column="leader_id"/>
        <result property="teamName" column="team_name"/>
        <result property="teamSerial" column="team_serial"/>
        <result property="klassSerial" column="klass_serial"/>
        <result property="status" column="status"/>
    </resultMap>

    <!--cyq-->
    <delete id="deleteTeamInfo">
        delete from team where id=#{teamId}
    </delete>

    <delete id="deleteStudentTeam">
        delete from team_student where team_id=#{teamId}
    </delete>

    <delete id="deleteKlassTeam">
        delete from klass_team where team_id=#{teamId}
    </delete>

    <delete id="removeTeamMember">
        delete from team_student where team_id=#{teamId} and student_id=#{studentId}
    </delete>

    <insert id="addTeamMember">
        insert into team_student (team_id,student_id) values (#{teamId},#{studentId})
    </insert>
</mapper>