<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.ghct.crm.mapper.TeamMapper">

    <select id="listTeamInfoByCourseId" resultMap="teamMap">
        select *
        from team
        where course_id=#{courseId}
    </select>

    <insert id="insertTeamMemberLimit" parameterType="xmu.ghct.crm.VO.CourseVO">
        insert into member_limit_strategy(
                                          min_member,
                                          max_member
        ) values (
                  #{minMember},
                  #{maxMember}
                         )
    </insert>

    <select id="getTeamMemberLimit" resultMap="limitMap">
        select min_member,max_member
        from member_limit_strategy
    </select>

    <select id="getStudentIdByTeamId" resultType="java.math.BigInteger">
        select student_id
        from team_student
        where team_id=#{teamId}
    </select>

    <!--hzm-->
    <select id="getTeamInfoByTeamId" parameterType="java.math.BigInteger" resultMap="teamMap">
        select * from team where id=#{teamId}
    </select>

    <!--cyq-->
    <select id="listTeamIdByKlassId" resultType="java.math.BigInteger">
        select team_id
        from klass_team
        where klass_id=#{klassId}
    </select>

    <!--cyq-->
    <select id="getTeamStudentIdByKlassId" resultType="java.math.BigInteger">
        select
    </select>

    <!--cyq-->
    <select id="getShareTeamInfoByCourseId" resultMap="shareTeamMap">
        select main_course_id,sub_course_id,sub_course_teacher_id,status
        from share_team_application
        where (main_course_id=#{courseId} or sub_course_id=#{courseId}) and status=1
    </select>

    <resultMap id="shareTeamMap" type="xmu.ghct.crm.VO.ShareTeamVO">
        <result property="mainCourseId" column="main_course_id"/>
        <result property="subCourseId" column="sub_course_id"/>
        <result property="subCourseTeacherId" column="sub_course_teacher_id"/>
        <result property="status" column="status"/>
    </resultMap>

    <resultMap id="teamMap" type="xmu.ghct.crm.entity.Team">
        <id property="teamId" column="id"/>
        <result property="klassId" column="klass_id"/>
        <result property="courseId" column="course_id"/>
        <result property="leaderId" column="leader_id"/>
        <result property="teamName" column="team_name"/>
        <result property="teamSerial" column="team_serial"/>
        <result property="status" column="status"/>
    </resultMap>

    <resultMap id="limitMap" type="xmu.ghct.crm.VO.CourseVO">
        <result property="minMember" column="min_member"/>
        <result property="maxMember" column="max_member"/>
    </resultMap>


</mapper>